{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "plugins": [
    "@typescript-eslint",
    "chakra-ui",
    "import",
    "jest",
    "react-hooks",
    "react",
    "testing-library",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime",
    "plugin:testing-library/react"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off", // TODO: change to error https://app.asana.com/0/0/1204322668303155/f
    "@typescript-eslint/no-empty-function": ["warn", { "allow": ["arrowFunctions"] }],
    "@typescript-eslint/switch-exhaustiveness-check": "warn",

    "react/jsx-curly-brace-presence": ["warn", "never"],
    "curly": ["warn", "all"],

    "jest/no-focused-tests": "warn",
    "jest/no-identical-title": "warn",
    "jest/valid-expect": "warn",

    "@typescript-eslint/await-thenable": "warn",
    "@typescript-eslint/no-unnecessary-condition": "warn",
    "unused-imports/no-unused-imports": "warn",
    "@typescript-eslint/ban-ts-comment": ["warn", { "ts-ignore": "allow-with-description" }],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": ".*", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/triple-slash-reference": "off",

    "react/jsx-key": [
      "warn",
      { "checkFragmentShorthand": true, "checkKeyMustBeforeSpread": true, "warnOnDuplicates": true }
    ],

    "chakra-ui/props-order": ["warn", { "applyToAllComponents": true }],
    "chakra-ui/props-shorthand": ["warn", { "noShorthand": true, "applyToAllComponents": true }],
    "chakra-ui/require-specific-component": "warn",

    "import/no-unresolved": "warn",
    "sort-imports": [
      "warn",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true, // don"t want to sort import lines, use eslint-plugin-import instead
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"],
        "allowSeparatedGroups": true
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin", // Built-in imports (come from NodeJS native) go first
          "external", // <- External imports
          "internal", // <- Absolute imports
          ["sibling", "parent"], // <- Relative imports, the sibling and parent types they can be mingled together
          "index", // <- index imports
          "unknown" // <- unknown
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/e2e/**/*.ts"],
      "rules": {
        "testing-library/prefer-screen-queries": "off"
      }
    },
    {
      "files": ["src/graphql/**/*.ts"],
      "rules": {
        "import/no-unresolved": "off"
      }
    }
  ]
}
