{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "plugins": [
    "@typescript-eslint",
    "unused-imports",
    "jest",
    "react",
    "react-hooks",
    "testing-library"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/react"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off", // TODO: change to error https://app.asana.com/0/0/1204322668303155/f
    "@typescript-eslint/no-empty-function": ["warn", { "allow": ["arrowFunctions"] }],
    "@typescript-eslint/switch-exhaustiveness-check": "warn",
    "react/jsx-curly-brace-presence": ["warn", "never"],
    "curly": ["warn", "all"],
    "jest/no-focused-tests": "warn",
    "jest/no-identical-title": "warn",
    "jest/valid-expect": "warn",
    "@typescript-eslint/await-thenable": "warn",
    "@typescript-eslint/no-unnecessary-condition": "warn",
    "unused-imports/no-unused-imports": "warn",
    "@typescript-eslint/ban-ts-comment": ["warn", { "ts-ignore": "allow-with-description" }],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": ".*", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/triple-slash-reference": "off",
    "react/jsx-key": [
      "warn",
      { "checkFragmentShorthand": true, "checkKeyMustBeforeSpread": true, "warnOnDuplicates": true }
    ]
  },
  "overrides": [
    {
      "files": ["src/e2e/**/*.ts"],
      "rules": {
        "testing-library/prefer-screen-queries": "off"
      }
    }
  ]
}
