services:
  db:
    container_name: "tzkt-db-${CUCUMBER_WORKER_ID:-0}"
    restart: always
    image: postgres:13
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER:-tzkt} -d ${POSTGRES_DB:-tzkt_db}
      interval: 1s
      timeout: 1s
      retries: 10
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-tzkt}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-qwerty}
      POSTGRES_DB: ${POSTGRES_DB:-tzkt_db}

  tezos_node:
    container_name: "tezos-node-${CUCUMBER_WORKER_ID:-0}"
    restart: always
    image: ghcr.io/tez-capital/tezbox:tezos-v20.0-rc1
    healthcheck:
      test: octez-client get balance for alice | grep -c 200000 # Alice's balance after bootstrap
      interval: 1s
      timeout: 5s
      retries: 20
      start_period: 5s
    volumes:
      - ./sandbox-override-parameters.hjson:/tezbox/overrides/protocols/Proxford/sandbox-parameters.hjson

  proxy:
    depends_on:
      tezos_node:
        condition: service_healthy
    container_name: "tezos-node-proxy-${CUCUMBER_WORKER_ID:-0}"
    restart: always
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 2000${CUCUMBER_WORKER_ID:-0}:80

  sync:
    container_name: "tzkt-sync-${CUCUMBER_WORKER_ID:-0}"
    restart: always
    image: ${TZKT_SYNC_IMAGE:-serjonya/tzkt-sync:1.13.4}
    environment:
      ConnectionStrings__DefaultConnection: host=db;port=5432;database=${POSTGRES_DB:-tzkt_db};username=${POSTGRES_USER:-tzkt};password=${POSTGRES_PASSWORD:-qwerty};command timeout=${COMMAND_TIMEOUT:-600};
      Kestrel__Endpoints__Http__Url: http://0.0.0.0:5001
      TezosNode__Endpoint: http://tezos_node:20000
      Home__Enabled: "true"
      HealthChecks__Enabled: "true"
    depends_on:
      db:
        condition: service_healthy
      tezos_node:
        condition: service_healthy

  api:
    container_name: "tzkt-api-${CUCUMBER_WORKER_ID:-0}"
    restart: always
    image: ${TZKT_API_IMAGE:-serjonya/tzkt-api:1.13.4}
    depends_on:
      sync:
        condition: service_started
    environment:
      ConnectionStrings__DefaultConnection: host=db;port=5432;database=${POSTGRES_DB:-tzkt_db};username=${POSTGRES_USER:-tzkt};password=${POSTGRES_PASSWORD:-qwerty};command timeout=${COMMAND_TIMEOUT:-600};
      Kestrel__Endpoints__Http__Url: http://0.0.0.0:5000
      Home__Enabled: "true"
      HealthChecks__Enabled: "true"
      ResponseCache__CacheSize: 0
    healthcheck:
      test: curl -f http://localhost:5000/v1/accounts
      interval: 1s
      timeout: 1s
      retries: 100
      start_period: 10s
    ports:
      - 500${CUCUMBER_WORKER_ID:-0}:5000

networks:
  default:
    name: "tzkt-network-${CUCUMBER_WORKER_ID:-0}"
