body {
  font-family: "Inter";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/background_light.svg"),
    linear-gradient(67deg, rgba(226, 232, 240, 0) 0%, #e2e8f0 100%) !important;
  padding: 20px 46px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
