body {
  font-family: "Inter";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  & .layout {
    padding: 20px 46px 0;
    height: 100vh;
  }

  @media (max-width: 768px) {
    & .layout {
      height: 100dvh;
      padding: 54px 0 0;

      & .header {
        top: 0;
        left: 0;
        z-index: 2;
        position: fixed;
        width: 100%;
        border-radius: 0;
      }

      & .navbar {
        position: sticky;
        bottom: 0;
        z-index: 2;
      }
    }
  }
}

body:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
