body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.chakra-toast .chakra-alert[data-status="error"] {
  background: #fc7884;
}

.chakra-toast .chakra-alert[data-status="success"] {
  background: #00e7b6;
}

.chakra-toast .chakra-alert[data-status="info"] {
  background: white;
}

.chakra-toast .chakra-alert__desc {
  font-size: 14px;
  color: black;
}

/* Makes welcome screen slider corners round,
   otherwise, they become 90 degrees during transitions */
.slider-wrapper {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.account-drawer-cta-button:hover .account-drawer-cta-button-icon {
  background-color: #414141; /* gray[500] */
}
