name: E2E Tests

on: push

jobs:
  test:
    permissions: write-all
    timeout-minutes: 20
    runs-on: ubuntu-latest-m
    env:
      FLEXTESA_IMAGE: oxheadalpha/flextesa:latest
      TZKT_SYNC_IMAGE: bakingbad/tzkt-sync:1.13.1
      TZKT_API_IMAGE: serjonya/tzkt-api:1.13.1-linux

    steps:
      - uses: actions/checkout@v4

      - name: Setup yarn
        run: |
          corepack enable
          yarn set version stable

      - uses: actions/setup-node@v4
        with:
          node-version: 20.12.x
          cache: "yarn"

      - name: Pull docker images
        run: docker compose pull --quiet &

      - name: Install dependencies
        run: yarn install --immutable

      - name: Install Playwright Browsers & build the app
        run: yarn exec concurrently "yarn playwright install chromium --with-deps" "yarn build"

      - name: Start server
        run: yarn exec http-server build -p 3000 &

      - name: Run cucumber tests
        run: yarn test:e2e

      - name: Cucumber Report to Annotations
        uses: deblockt/cucumber-report-annotations-action@v1.15
        if: always()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          path: "test-results/cucumber-report.json"
          show-global-summary-report: true

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cucumber-report
          path: test-results/cucumber-report.html
          retention-days: 10
