name: Test

on: push

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
    steps:
      - uses: actions/checkout@v4

      - name: Setup yarn
        run: |
          corepack enable
          yarn set version stable

      - uses: actions/setup-node@v4
        with:
          node-version: 18.15.x
          cache: "yarn"

      - name: Install packages
        run: yarn install --immutable

      - name: Check format
        run: yarn format:ci

      - name: Run linter
        run: yarn lint:ci

      - name: Run tests
        env:
          CI: true
        run: yarn test

      # Uncomment when taquito releases a new version
      # - name: Audit dependencies
      #   run: yarn npm audit
